# Configuración de la base de datos
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# Configuración de Django
DEBUG=True
SECRET_KEY=secret_key_dificil
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# configuración de aplicación
LANGUAGE_CODE=es-ar
TIME_ZONE=UTC