{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">
                {% if event.id %}
                    Editar evento
                {% else %}
                    Crear evento
                {% endif %}
            </h1>
            <div class="card">
                <div class="card-body">
                    <form action="{% if event.id %}{% url 'event_edit' event.id %}{% else %}{% url 'event_form' %}{% endif %}" method="POST">
                        {% csrf_token %}
                        <div class="vstack gap-3">
                            <div>
                                <label for="title" class="form-label">Título del Evento</label>
                                <input class="form-control"
                                    id="title"
                                    required=""
                                    type="text"
                                    value="{{ event.title }}"
                                    name="title" />
                            </div>
                            <div>
                                <label for="description" class="form-label">Descripción</label>
                                <textarea
                                    class="form-control"
                                    id="description"
                                    name="description"
                                    rows="4"
                                    required="">{{ event.description }}</textarea>
                            </div>
                            <div>
                                <label for="venue" class="form_label">Recinto</label>
                                <select id="venue" name="venue" class="form-control" required>
                                    <option value="" disabled selected>Seleccione un recinto</option>
                                    {% for v in venues %}
                                        <!-- El valor es el ID del recinto, y el texto visible es el nombre -->
                                        <option value="{{ v.id }}" {% if event and v.id == event.venue.id %}selected{% endif %}>{{ v.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="date" class="form-label">Fecha</label>
                                    <input
                                        class="form-control"
                                        id="date"
                                        required=""
                                        type="date"
                                        value="{{ event.scheduled_at|date:'Y-m-d'}}"
                                        name="date" />
                                </div>
                                <div class="col-md-6">
                                    <label for="time" class="form-label">Hora</label>
                                    <input
                                        class="form-control"
                                        id="time"
                                        required=""
                                        type="time"
                                        value="{{ event.scheduled_at|date:'g:i'}}"
                                        name="time" />
                                </div>
                                <div>
                                    <label class="form-label">Categoría</label>
                                    <div class="row">
                                    {% for categoria in categorias %}
                                        <div class="col-md-4">
                                            <input
                                                class="form-check-input"
                                                type="radio"
                                                name="categoria"
                                                id="categoria{{ categoria.id }}"
                                                value="{{ categoria.id }}"
                                                {% if event and categoria.id == event.category.id %}checked{% endif %}
                                                required>
                                            <label class="form-check-label" for="categoria{{ categoria.id }}">
                                                {{ categoria.name }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="state" class="form-label">Estado</label>
                                <select name="state" id="state">
                                    <option value="AVAILABLE" {% if event.state == "AVAILABLE" %} selected {% endif %}>Activo</option>
                                    <option value="CANCELLED" {% if event.state == "CANCELLED" %} selected {% endif %}>Cancelado</option>
                                    <option value="REPROGRAM" {% if event.state == "REPROGRAM" %} selected {% endif %}>Reprogramado</option>
                                    <option value="SOLD_OUT" {% if event.state == "SOLD_OUT" %} selected {% endif %}>Agotado</option>
                                    <option value="FINISHED" {% if event.state == "FINISHED" %} selected {% endif %}>Finalizado</option>
                                </select>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">
                                    {% if event.id %}
                                        Editar evento
                                    {% else %}
                                        Crear evento
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
