name: Entrega Continua - Deploy

on:
  workflow_run:
    workflows: ["Integración Continua - Eventhub"]  # nombre exacto del workflow CI
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Configurar Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Construir imagen Docker
        run: |
          IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/eventhub:${{ github.ref_name }}
          docker build -t $IMAGE_NAME .

      - name: Publicar imagen Docker en DockerHub
        run: |
          IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/eventhub:${{ github.ref_name }}
          docker push $IMAGE_NAME

      - name: Deploy en Render
        env:
          RENDER_SERVICE_ID: ${{ secrets.RENDER_SERVICE_ID }}
          RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
          IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/eventhub:${{ github.ref_name }}
        run: |
          curl -X POST https://api.render.com/deploy/srv-${RENDER_SERVICE_ID} \
            -H "Authorization: Bearer $RENDER_API_KEY" \
            -H "Accept: application/json" \
            -H "Content-Type: application/json" \
            -d "{\"clearCache\": true, \"dockerImage\": \"$IMAGE_NAME\"}"
